.agendapunkt {
    border-radius: 10px;
    background: white;
    min-height: 500px;
    height: 80vh;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 35%);
    -webkit-box-shadow: 0 0 15px 0 rgb(0 0 0 / 35%);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
}

.agendapunkt .finishPanel {
    display: none;
}

.agendapunkt .finishPanel:last-of-type {
    display: block;
    margin-bottom: 30% !important;
}

.agendapunkt .curved_arrow {
    text-align: right;
    padding: 10px;
    padding-right: 100px;
    margin-block: -10px;
    max-width: 80vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    overflow: hidden;
}