.agendapunkt {
    border-radius: 10px;
    background: white;
    min-height: 500px;
    height: 80vh;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 35%);
    -webkit-box-shadow: 0 0 15px 0 rgb(0 0 0 / 35%);
    -moz-box-shadow: 0 0 15px 0 rgba(0, 0, 0, 0.35);
    position: static;
}

.overlay {
    z-index: 10;
    width: 100%;
    height: 100%;
    background-color: #00000073;
    color: #ffffff;
    font-size: 1.8em;
    position: absolute;
    left: 0;
    top: 0;
    display: flex;
    align-items: flex-start;
}

.text {
    z-index: 20;
    width: 100%;
    height: 6.6em;
    background-color: #000000C4;
    color: #ffffff;
    font-size: 0.7em;
    display: flex;
    align-content: flex-end;
    text-align: center;
    justify-content: center;
    flex-direction: column;
}

.agendapunkt .finishPanel {
    display: none;
}

.agendapunkt .finishPanel:last-of-type {
    display: block;
    margin-bottom: 30% !important;
}

.agendapunkt .curved_arrow {
    text-align: right;
    padding: 10px;
    padding-right: 100px;
    margin-block: -10px;
    max-width: 80vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    overflow: hidden;
}