.agendapunkt {
    border-radius: 10px;
    background: white;
    min-height: 500px;
    height: 80vh;
    box-shadow: 0 0 15px 0 rgb(0 0 0 / 35%);
    -webkit-box-shadow: 0 0 15px 0 rgb(0 0 0 / 35%);
    -moz-box-shadow: 0 0 15px 0 rgba(0,0,0,0.35);
}

.agendapunkt .protokollmessage {
    width: 100% !important;
    height: 100% !important;
    cursor: pointer;
    flex-wrap: nowrap;
}

.agendapunkt .protokollmessage:last-of-type {
    margin-bottom: 30% !important;
}

.agendapunkt .protokollmessage.choosen,
.agendapunkt .protokollmessage:hover {
    background-color: #BFDBFE !important;
}

.agendapunkt .protokollmessage .protokollmessageText {
    box-shadow: 0 0 0 0.1rem #BFDBFE;
    height: 100%;
    min-height: 70px;
    border-radius: 7px;
    padding: 5px;
    margin-right: 15px;
    margin-block: 10px;
}

.agendapunkt .protokollmessage:hover .protokollmessageText {
    box-shadow: 0 0 0 0.1rem var(--primary-color);
}

.agendapunkt .protokollmessage .protokollmessageTextEditing {
    height: 100%;
    min-height: 250px;
    border-radius: 7px;
    padding: 5px;
    margin-right: 15px;
    margin-block: 10px;
}

.agendapunkt .curved_arrow {
    text-align: right;
    padding: 10px;
    padding-right: 100px;
    margin-block: -10px;
    max-width: 80vw;
    max-height: 80vh;
    width: auto;
    height: auto;
    overflow: hidden;
}