<!--https://stackoverflow.com/a/66958623/17188243-->
<span class="ql-formats">
    <button class="ql-bold" aria-label="Bold" pTooltip="Fett" tooltipPosition="top"></button>
    <button class="ql-italic" aria-label="Italic" pTooltip="Kursiv" tooltipPosition="top"></button>
    <button class="ql-underline" aria-label="Underline" pTooltip="Unterstrichen" tooltipPosition="top"></button>
    <button class="ql-strike" aria-label="Strike" pTooltip="Durchgestrichen" tooltipPosition="top"></button>
</span>

<span class="ql-formats" pTooltip="Text Größe" tooltipPosition="top">
    <select class="ql-size">
        <option value="small">Small</option>
        <option selected>Normal</option>
        <option value="large">Big</option>
    </select>
</span>

<span class="ql-formats" pTooltip="Text Farbe" tooltipPosition="top">
    <select class="ql-color" defaultValue="rgb(0, 0, 0)"></select>
</span>
<span class="ql-formats" pTooltip="Hintergrund Farbe" tooltipPosition="top">
    <select class="ql-background" defaultValue="rgb(255, 255, 255)"></select>
</span>

<span class="ql-formats">
    <button class="ql-list" value="ordered" pTooltip="Nummerierte Liste" tooltipPosition="top"></button>
    <button class="ql-list" value="bullet" pTooltip="Zeichen Liste" tooltipPosition="top"></button>
</span>
<span class="ql-formats" pTooltip="Textpositionierung" tooltipPosition="top">
    <select class="ql-align"></select>
</span>

<span class="ql-formats">
    <button class="ql-clean" pTooltip="Formattierung entfernen" tooltipPosition="top"></button>
</span>