:host ::ng-deep .paginator .p-paginator-next,
:host ::ng-deep .paginator .p-paginator-prev,
:host ::ng-deep .toggleButton {
    border: 2px solid #808080 !important;
    height: 2.5rem !important;
    width: 2.5rem !important;
    min-width: 2.5rem !important;
}

:host ::ng-deep .paginator .p-paginator-next span,
:host ::ng-deep .paginator .p-paginator-prev span {
    font-weight: bold;
}

.customborder {
    border-radius: 5px;
}

.custombackground {
    background: white;
}
.action {
    height: calc(100% - 65px);
}