<div class="w-100 row justify-content-between align-items-center px-3 py-1 mb-2"
    style="background-color: var(--surface-c); border-bottom: 1px solid #bbb; height: 55px;">
    <div class="col-1" [style]="headerStyle"></div>
    <div class="col-1" [style]="headerStyle">Nr. Prot.</div>
    <div class="col-5" [style]="headerStyle">Text</div>
    <div class="col-5" [style]="headerStyle">
        <div class="row w-100 d-flex justify-content-center align-items-center">
            <div class="col-6 text-center">Typ</div>
            <div class="col-6 d-flex justify-content-center align-items-center flex-column">
                <div>Status</div>
                <div>Ablaufdatum</div>
            </div>
        </div>
    </div>
</div>