<div class="d-flex justify-content-start flex-column" style="height: 93% !important;">
    <div class="h-100 d-flex justify-content-center align-items-start pt-5" *ngIf="loadingAgenda">
        <app-loading></app-loading>
    </div>
    <p-tree [value]="agendaPunkteNode" class="pTree h-100" *ngIf="!loadingAgenda" scrollHeight="100%" (onNodeSelect)="agendaPunktSelected($event)" selectionMode="single" [(selection)]="selectedNode">
        <ng-template let-node pTemplate="default">
            <!--<a class="agendaLink" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}">
                <span [ngStyle]="{'color': node.farbe}" routerLink="" [fragment]="node.data.ID" preserveFragment="true">{{node.data.ID}} {{node.label}}</span>
            </a>-->
            <span [ngStyle]="{'color': node.farbe}">{{node.label}}</span>
        </ng-template>
        <ng-template pTemplate="footer" *ngIf="showEditField">
            <div class="pTreeFooter w-100 d-flex justify-content-end align-items-center mt-2">
                <button pButton pRipple type="button" icon="pi pi-pencil" (click)="openDialogAgenda()"></button>
            </div>
        </ng-template>
    </p-tree>
</div>

<p-dialog [(visible)]="AgendaDialog.displayDialog" [draggable]="false" [resizable]="false" position="top"
    [contentStyle]="{height: '100%', maxHeight: '600px', width: '100%'}" [transitionOptions]="'400ms'" [modal]="true">

    <ng-template pTemplate="header">
        <h4 class="modal-title">Agenda bearbeiten</h4>
    </ng-template>

    <div class="overflow-hidden" style="height: 550px;">
        <div class="w-100 row justify-content-between align-items-center ps-3 py-1 mb-2"
            style="background-color: var(--surface-b); border-bottom: 1px solid #bbb; height: 70px;">
            <div class="col-3 fw-bold">Nummer</div>
            <div class="col-3 fw-bold">Name</div>
            <div class="col-3 fw-bold text-center">Farbe</div>
            <div class="col-3 fw-bold text-center">Aktionen</div>
        </div>

        <div class="pb-2 overflow-auto ps-2" style="height: calc(100% - 80px)">
            <app-agendatableentry [rowNodeList]="agendaPunkteNode" [deepth]="0"
                (addAgendapunktEvent)="addAgendapunktChild($event)"
                (deleteAgendapunktEvent)="deleteAgendapunktTreeNode($event)"
                (selectAgendapunktEvent)="nodeSelectChild($event)"></app-agendatableentry>
        </div>
    </div>


    <ng-template pTemplate="footer">
        <div class="w-100 d-flex justify-content-end align-items-center">
            <button pButton pRipple type="button" label="Neu" icon="pi pi-plus" class="p-button-outlined"
                (click)="addNewAgendaPunkt()"></button>
        </div>
    </ng-template>
</p-dialog>

<p-dialog [(visible)]="AgendaPunktDialog.displayDialog" [draggable]="false" [resizable]="false" position="top"
    [transitionOptions]="'400ms'" [modal]="true">
    <ng-template pTemplate="header">
        <h4 class="modal-title">Agendapunkt bearbeiten</h4>
    </ng-template>

    <form [formGroup]="agendaPunktForm" (ngSubmit)="saveAgendaPunkt()">
        <div class="row mb-4 mt-4">
            <div class="col-8">
                <span class="p-float-label w-100">
                    <input type="text" id="nummer" formControlName="nummer" pInputText>
                    <label for="nummer">Nummer</label>
                </span>
            </div>
            <div class="col-4">
                <span class="p-float-label w-100 h-100 d-flex justify-content-start align-items-center">
                    <label class="flyHigh" for="name">Farbe</label>
                    <p-colorPicker appendTo="body" id="name" formControlName="farbe" pInputText></p-colorPicker>
                </span>
            </div>
        </div>

        <div class="row mt-2">
            <div class="col-12">
                <span class="p-float-label w-100">
                    <input class="w-100" type="text" id="name" formControlName="name" pInputText>
                    <label for="name">Name</label>
                </span>
            </div>
        </div>

        <div class="row w-100 mt-4 d-flex justify-content-center align-items-center" style="margin-bottom: -2rem;">
            <div class="w-50 d-flex justify-content-center align-items-center">
                <button type="submit" class="p-button-outlined" pButton pRipple icon="pi pi-save" label="Speichern"
                    [disabled]="agendaPunktForm.invalid"></button>
                <i class="pi pi-info-circle" pTooltip="Speichert den Agendapunkt"></i>
            </div>
            <div class="w-50 d-flex justify-content-center align-items-center" *ngIf="choosenAgendaPunktNode.data?.ID != 0">
                <button type="button" class="p-button-outlined p-button-danger" pButton pRipple
                    (click)="showConfirm($event)" icon="pi pi-trash" label="Löschen"></button>
                <i class="pi pi-info-circle" pTooltip="Löscht den Agendapunkt"></i>
            </div>
        </div>
    </form>

    <ng-template pTemplate="footer"></ng-template>
</p-dialog>

<p-confirmPopup></p-confirmPopup>