<div class="h-100 d-flex justify-content-start flex-column overflow-auto">
    <!--<div class="h-100 d-flex justify-content-center align-items-start pt-5">
        <app-loading></app-loading>
    </div>-->

    <div class="w-100 h-100 ps-2">
        <ng-template ngFor let-online [ngForOf]="onlineList">
            <div class="w-100 ps-3 row justify-content-start align-items-center">
                <div class="col-4 onlineMarker"></div>
                <div class="col-8 onlineLabel">{{online.nachname}}</div>
            </div>
        </ng-template>
    </div>
</div>