.wrapper {
    /*background-color: #d8d8d8;*/
    background-color: transparent!important;
}

.wrapper>div {
    background: transparent;
}

.wrapper .actionWrapper,
.wrapper .besprechungWrapper {
    transition: width 0.5s;
}